@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 20px;
    margin-right: -20px;
    cursor: default;
}

a.btn {
    position: relative;
    display: block;
    font-family: "montserrat";
    text-decoration: none;
    margin: 10px auto;
    padding: 0px;
    padding-right: 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s all ease;
    width: 300px;
}

a i {
    padding: 16px;
    width: 100%;
    max-width: 50px;
}


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 28px 0;
    text-align: center;
 }
