{% extends "base.html" %}

{% block content %}
{% include 'includes/darkmode_nav.html' %}

<div class="text-center m-5">
    <div class="row">
        <div id="quiz-attempts" class="card col-4 bg-primary">
            <p class="display-3">53</p>
            <span class="fs-5">Total Attempts</span>
        </div>

        <div id="successful-attempts" class="card col-4 bg-secondary">
            <p class="display-3">34</p>
            <span class="fs-5">Successful Attempts</span>
        </div>

        <div id="avg-score" class="card col-4 bg-info">
            <p class="display-3">100<span class="display-5">%</span></p>
            <span class="fs-5">Avg. Score</span>
        </div>

        <div class="mb-5"></div>

        <h1 id="no-hist" class="display-5">No Record Found.</h1>

    </div>

</div>
{% endblock content %}

{% block scripts %}
    <script src="{{ url_for('static', filename='quiz_hist.js') }}"></script>
{% endblock scripts %}